.container.tem1
	.col-xs-3.menu
		h4 #{active}
		small #{eng}
		ul
			each item in deces
				if dec == item.Name
					li.active
						a #{item.Name}
				else
					li
						a(href='#{item.ColumnUrl}') #{item.Name}
	.col-xs-9
		.cont
			span 您的位置：
			ol.breadcrumb
				li
					a(href='/') 首页
				li
					a(href='#{link}') #{active}
				li.active #{dec}
		if dec=='合作伙伴'
			include ./tem4
		else
			.article !{content}
			script
				| $('.article').html($('.article').text());